<breadcrumb></breadcrumb>

<mat-card>
  <div class="demo-list">
    <section>
      <h2> Seasoning </h2>
      <p>Showing a non-interactive list of seasonings.</p>
      <mat-list role="list">
        <mat-list-item *ngFor="let item of items" role="listitem"> {{item}} </mat-list-item>
      </mat-list>
    </section>


    <section>
      <h2>Mailbox navigation</h2>
      <p>Showing a navigation list with links to google search</p>
      <mat-nav-list>
        <a *ngFor="let link of links" href="https://www.google.com/search?q={{link.name}}"
           mat-list-item>
          {{link.name}}
        </a>
      </mat-nav-list>
    </section>

    <section>
      <h2>Messages</h2>
      <p>
        Showing a list of messages, where each message item has sender's name, sender's avatar,
        message subject, and content of the message.
      </p>
      <mat-list role="list">
        <mat-list-item *ngFor="let message of messages" role="listitem">
          <img [alt]="message.from" [src]="message.image" mat-list-avatar>
          <h3 mat-line> {{message.from}} </h3>
          <p mat-line> {{message.subject}} </p>
          <p class="demo-secondary-text" mat-line> {{message.message}} </p>
        </mat-list-item>
      </mat-list>

    </section>

    <section>
      <h2>Seasoning</h2>
      <p>Showing a non-interactive list of seasonings with dense style.</p>
      <mat-list dense role="list">
        <mat-list-item *ngFor="let item of items" role="listitem"> {{item}} </mat-list-item>
      </mat-list>
    </section>

    <section>
      <h2>Folders and notes for mailbox </h2>
      <p>Showing a list with two sections, "folders" and "notes".</p>
      <mat-list role="list">
        <h3 mat-subheader>Folders</h3>
        <mat-list-item *ngFor="let folder of folders" role="listitem">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
          <p class="demo-secondary-text" mat-line> {{folder.updated}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item *ngFor="let note of notes" role="listitem">
          <mat-icon mat-list-icgon>note</mat-icon>
          <h4 mat-line>{{note.name}}</h4>
          <p class="demo-secondary-text" mat-line> {{note.updated}} </p>
        </mat-list-item>
      </mat-list>
    </section>
  </div>
</mat-card>
