<breadcrumb></breadcrumb>

<mat-card>
  <section>
    <h2>Basic input box (e.g. name field)</h2>
    <mat-form-field floatLabel="never">
      <mat-label>First name</mat-label>
      <input [(ngModel)]="firstName" matInput>
    </mat-form-field>
    <mat-form-field floatLabel="never">
      <mat-label>Last name</mat-label>
      <input [(ngModel)]="lastName" matInput>
    </mat-form-field>
  </section>

  <section>
    <h2>Input with hint (e.g. password field)</h2>
    <mat-form-field hideRequiredMarker>
      <mat-label>Password</mat-label>
      <input #passwordModel="ngModel" [(ngModel)]="password" [type]="passwordType" matInput
             required>
      <button (click)="showPassword = !showPassword" [attr.aria-label]="passwordToggleLabel" mat-icon-button
              matSuffix>
        <mat-icon>{{passwordToggleIcon}}</mat-icon>
      </button>
      <mat-hint>Hint: favorite color</mat-hint>
      <mat-error *ngIf="passwordModel.hasError('required')">You must enter your password.
      </mat-error>
    </mat-form-field>
  </section>

  <section>
    <h2>Input with error message (e.g. email field)</h2>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input #emailModel="ngModel" [(ngModel)]="email" email matInput required type="email">
      <mat-error *ngIf="emailModel.hasError('required')">You must enter your email.</mat-error>
      <mat-error *ngIf="emailModel.hasError('email')">Not a valid email address.</mat-error>
    </mat-form-field>
  </section>

  <section>
    <h2>Input with prefix & suffix (e.g. currency converter)</h2>
    <mat-form-field floatLabel="always">
      <mat-label>USD</mat-label>
      <input [(ngModel)]="usd" matInput type="number">
      <span matPrefix>$</span>
    </mat-form-field>
    =
    <mat-form-field floatLabel="always">
      <mat-label>JPY</mat-label>
      <input [(ngModel)]="jpy" matInput type="number">
      <span matPrefix>‎¥‎</span>
    </mat-form-field>
    (as of 7/31/2017)
  </section>

  <section>
    <h2>Textarea input (e.g. comment box)</h2>
    <mat-form-field>
      <textarea #commentModel="ngModel" [(ngModel)]="comment" [maxlength]="commentMax" aria-label="Comment"
                cdkTextareaAutosize matInput></textarea>
      <mat-hint>Leave us a comment!</mat-hint>
      <mat-hint align="end">{{commentCount}}/{{commentMax}}</mat-hint>
    </mat-form-field>
  </section>
</mat-card>
