<div class="matero-row" fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="formModels">
  <mat-card class="matero-col" fxFlex="100">
    <form [formGroup]="reactiveForm" class="form-field-full">
      <div class="matero-row" fxLayout="row wrap" fxLayoutAlign="start center">
        <ng-container *ngFor="let item of formModels">
          <!-- input -->
          <mat-form-field *ngIf="item.type === 'input'" class="m-r-32" fxFlex="30"
                          fxFlex.lt-lg="45" fxFlex.lt-sm="100">
            <label>
              <input matInput [formControlName]="item.name" [id]="item.name" [placeholder]="item.cnname"
                     [readonly]="item.readonly" name="{{item.name}}"
                     [required]="item.required"/>
            </label>
            <button mat-button *ngIf="reactiveForm.get(item.name).value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="reactiveForm.get(item.name).reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="reactiveForm.get(item.name).invalid">{{getErrorMessage(item.name)}}</mat-error>
          </mat-form-field>
          <!-- textarea -->
          <mat-form-field *ngIf="item.type === 'textarea'" class="m-r-32" fxFlex="30"
                          fxFlex.lt-lg="45" fxFlex.lt-sm="100">
            <label>
              <textarea matInput [formControlName]="item.name" [id]="item.name"
                        [placeholder]="item.cnname" [readonly]="item.readonly" name="{{item.name}}"
                        [required]="item.required"></textarea>
            </label>
            <button mat-button *ngIf="reactiveForm.get(item.name).value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="reactiveForm.get(item.name).reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="reactiveForm.get(item.name).invalid">{{getErrorMessage(item.name)}}</mat-error>
          </mat-form-field>
          <!-- datetime data month -->
          <mat-form-field *ngIf="item.type === 'datetime' || item.type === 'date' || item.type === 'month'"
                          class="m-r-32" fxFlex="30" fxFlex.lt-lg="45" fxFlex.lt-sm="100">
            <mat-datetimepicker-toggle [for]="dtpicker" matSuffix></mat-datetimepicker-toggle>
            <mat-datetimepicker #dtpicker type="{{item.type}}" timeInterval="1"
                                (selectedChanged)="dateFormatEvent(item.type,$event)"
                                [touchUi]="platform.ANDROID || platform.IOS" mode="auto"></mat-datetimepicker>
            <label>
              <input matInput [formControlName]="item.name" [matDatetimepicker]="dtpicker"
                     (click)="dtpicker.open()"
                     [required]="item.required" [id]="item.name" name="{{item.name}}" [placeholder]="item.cnname"
                     [readonly]="item.readonly">
            </label>
            <button mat-button *ngIf="reactiveForm.get(item.name).value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="reactiveForm.get(item.name).reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="reactiveForm.get(item.name).invalid">{{getErrorMessage(item.name)}}</mat-error>
          </mat-form-field>
          <!-- select -->
          <mat-form-field *ngIf="item.type === 'select' && item.selectOptions && item.selectOptions.length > 0"
                          class="m-r-32" fxFlex="30" fxFlex.lt-lg="45" fxFlex.lt-sm="100">
            <mat-select [formControlName]="item.name" [id]="item.name" [placeholder]="item.cnname"
                        [required]="item.required" [multiple]="item.multiple">
              <ng-container *ngFor="let item of item.selectOptions">
                <mat-option value="{{item.value}}">{{item.key}}</mat-option>
              </ng-container>
            </mat-select>
            <button mat-button *ngIf="reactiveForm.get(item.name).value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="reactiveForm.get(item.name).reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="reactiveForm.get(item.name).invalid">{{getErrorMessage(item.name)}}</mat-error>
          </mat-form-field>
          <!-- autocomplete -->
          <mat-form-field *ngIf="item.type === 'autocomplete' && item.autocompleteOptions &&
          item.autocompleteOptions.length > 0" class="m-r-32" fxFlex="30" fxFlex.lt-lg="45" fxFlex.lt-sm="100">
            <label>
              <input matInput [formControlName]="item.name" [id]="item.name" [placeholder]="item.cnname"
                     [readonly]="item.readonly" name="{{item.name}}"
                     [required]="item.required" [matAutocomplete]="auto"/>
            </label>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <ng-container *ngFor="let option of item.autocompleteOptions">
                <mat-option [value]="option">{{option}}</mat-option>
              </ng-container>
            </mat-autocomplete>
            <button mat-button *ngIf="reactiveForm.get(item.name).value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="reactiveForm.get(item.name).reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="reactiveForm.get(item.name).invalid">{{getErrorMessage(item.name)}}</mat-error>
          </mat-form-field>
          <!-- tree -->
          <mat-form-field *ngIf="item.type === 'tree'" class="m-r-32" fxFlex="30" fxFlex.lt-lg="45"
                          fxFlex.lt-sm="100">
            <label>
              <input matInput [formControlName]="item.name" [id]="item.name" [placeholder]="item.cnname"
                     [readonly]="item.readonly" name="{{item.name}}"
                     (click)="item.overlayOpen = !item.overlayOpen"
                     cdkOverlayOrigin #overlayOrigin="cdkOverlayOrigin"
                     [required]="item.required"/>
            </label>
            <app-select-tree #tree [overlayOrigin]="overlayOrigin" [model]="item"
                             (selections)="buildTreeValue(item,$event)"></app-select-tree>
            <button mat-button *ngIf="reactiveForm.get(item.name).value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="reactiveForm.get(item.name).reset();tree.checklistSelection.clear();">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="reactiveForm.get(item.name).invalid">{{getErrorMessage(item.name)}}</mat-error>
          </mat-form-field>
        </ng-container>
      </div>
    </form>
    <div fxLayoutAlign="end center">
      <button color="primary" mat-raised-button class="m-r-16"
              (click)="submitSearch()"
              [disabled]="reactiveForm.invalid">
        Search
      </button>
      <button color="primary" mat-raised-button class="m-r-16" (click)="reset()">
        Reset
      </button>
      <button color="primary" mat-raised-button class="m-r-16" fxHide.lt-lg [disabled]="reactiveForm.invalid"
              (click)="submitDownload()">
        download
      </button>
    </div>
  </mat-card>
</div>
