<div class="matero-row" fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="formModels">
  <mat-card class="matero-col" fxFlex="100">
    <form [formGroup]="reactiveForm" class="form-field-full">
      <div class="matero-row" fxLayout="row wrap" fxLayoutAlign="start center">
        <ng-container *ngFor="let item of formModels;let idx = index">
          <mat-form-field class="m-r-32" fxFlex="30" fxFlex.lt-lg="45" fxFlex.lt-sm="100">
            <mat-label>{{item.name}}</mat-label>
            <ng-container *ngIf="item.type === 'input'">
              <label>
                <input matInput [formControlName]="item.name" [id]="item.name" [placeholder]="item.name"
                       [readonly]="item.readonly" name="{{item.name}}" [required]="item.required"/>
              </label>
            </ng-container>
            <ng-container *ngIf="item.type === 'textarea'">
              <label>
                <textarea matInput [formControlName]="item.name" [id]="item.name" [placeholder]="item.name"
                          [readonly]="item.readonly" name="{{item.name}}" [required]="item.required"></textarea>
              </label>
            </ng-container>
            <ng-container *ngIf="item.selectOptions === 'select'">
              <mat-select [formControlName]="item.name" [id]="item.name" [placeholder]="item.name"
                          [readonly]="item.readonly" [required]="item.required">
                <mat-option>-- None --</mat-option>
                <ng-container *ngFor="let item of item.selectOptions;let idx = index">
                  <mat-option value="1">male</mat-option>
                </ng-container>
              </mat-select>
            </ng-container>
            <ng-container *ngIf="item.type === 'datepicker'">
              <mat-select [formControlName]="item.name" [id]="item.name" [placeholder]="item.name"
                          [readonly]="item.readonly" [required]="item.required">
                <mat-option>-- None --</mat-option>
                <mat-option value="1">male</mat-option>
                <mat-option value="2">female</mat-option>
              </mat-select>
            </ng-container>
            <ng-container *ngIf="item.type === 'datepicker-range'">
              <mat-select [formControlName]="item.name" [id]="item.name" [placeholder]="item.name"
                          [readonly]="item.readonly" [required]="item.required">
                <mat-option>-- None --</mat-option>
                <mat-option value="1">male</mat-option>
                <mat-option value="2">female</mat-option>
              </mat-select>
            </ng-container>
            <ng-container *ngIf="item.type === 'datetimepicker'">
              <mat-select [formControlName]="item.name" [id]="item.name" [placeholder]="item.name"
                          [readonly]="item.readonly" [required]="item.required">
                <mat-option>-- None --</mat-option>
                <mat-option value="1">male</mat-option>
                <mat-option value="2">female</mat-option>
              </mat-select>
            </ng-container>
            <ng-container *ngIf="item.type === 'datetimepicker-range'">
              <mat-select [formControlName]="item.name" [id]="item.name" [placeholder]="item.name"
                          [readonly]="item.readonly" [required]="item.required">
                <mat-option>-- None --</mat-option>
                <mat-option value="1">male</mat-option>
                <mat-option value="2">female</mat-option>
              </mat-select>
            </ng-container>
            <ng-container *ngIf="item.type === 'tree'">
              <mat-select [formControlName]="item.name" [id]="item.name" [placeholder]="item.name"
                          [readonly]="item.readonly" [required]="item.required">
                <mat-option>-- None --</mat-option>
                <mat-option value="1">male</mat-option>
                <mat-option value="2">female</mat-option>
              </mat-select>
            </ng-container>
            <mat-error *ngIf="reactiveForm.get(item.name).invalid">
              {{getErrorMessage(reactiveForm, item.name)}}</mat-error>
          </mat-form-field>
        </ng-container>
      </div>
    </form>
    <div fxLayoutAlign="end center">
      <button color="primary" mat-raised-button class="m-r-16">Search</button>
      <button color="primary" mat-raised-button class="m-r-16">Reset</button>
      <button color="primary" mat-raised-button class="m-r-16" fxHide.lt-lg>download</button>
    </div>
  </mat-card>
</div>
