<div (cdkDragStarted)="handleDragStart($event)"
     cdkDrag
     class="customizer-handle"
     matTooltip="Drag me around">
  <button (click)="openPanel($event)" mat-fab>
    <mat-icon aria-label="Example icon-button with a settings icon">settings</mat-icon>
  </button>
</div>

<div [ngClass]="{ 'customizer-panel': true, 'mat-elevation-z12 opened': opened }">
  <h2 class="f-w-400" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Configuration</span>
    <button (click)="closePanel()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <h3 class="f-w-400">Theme</h3>
  <div class="m-l-8">
    <mat-radio-group (change)="sendOptions()" [(ngModel)]="options.theme">
      <mat-radio-button [value]="'light'" class="m-r-8">Light</mat-radio-button>
      <mat-radio-button [value]="'dark'" class="m-r-8">Dark</mat-radio-button>
    </mat-radio-group>
  </div>
  <h3 class="f-w-400">Header</h3>
  <div class="m-l-8">
    <mat-slide-toggle (change)="sendOptions()"
                      [(ngModel)]="options.showHeader"
                      [disabled]="options.headerPos === 'above' || options.navPos === 'top'">visible
    </mat-slide-toggle>
    <h4 class="f-w-400">position</h4>
    <mat-radio-group (change)="sendOptions()" [(ngModel)]="options.headerPos">
      <mat-radio-button [disabled]="!options.showHeader || options.navPos === 'top'"
                        [value]="'above'"
                        class="m-r-8">Above
      </mat-radio-button>
      <mat-radio-button [value]="'fixed'" class="m-r-8">Fixed</mat-radio-button>
      <mat-radio-button [value]="'static'" class="m-r-8">Static</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-divider class="m-x-0 m-y-24" inset></mat-divider>
  <h3 class="f-w-400">Navigation</h3>
  <div class="m-l-8">
    <mat-slide-toggle (change)="sendOptions()" [(ngModel)]="options.showUserPanel">Show User Panel
    </mat-slide-toggle>
    <h4 class="f-w-400">position</h4>
    <mat-radio-group (change)="options.sidenavOpened = options.navPos === 'side' ? true : false; sendOptions()"
                     [(ngModel)]="options.navPos">
      <mat-radio-button [value]="'side'" class="m-r-8">side</mat-radio-button>
      <mat-radio-button [disabled]="options.headerPos === 'above' || !options.showHeader" [value]="'top'"
                        class="m-r-8">top
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-divider class="m-x-0 m-y-24" inset></mat-divider>
  <div class="m-l-8">
    <!--suppress TypeScriptValidateTypes -->
    <mat-checkbox (change)="options.dir = options.dir === 'rtl' ? 'ltr' : 'rtl'; sendOptions()"
                  [checked]="options.dir === 'rtl'">
      RTL
    </mat-checkbox>
  </div>
</div>
<div (click)="closePanel()" [ngClass]="{ 'customizer-panel-overlay': true, opened: opened }"></div>
