<mat-card class="mat-elevation-z4" style="margin-top: 36px">
  <mtx-grid [data]="datas"
            [columns]="columns"
            [length]="total"
            [loading]="isLoading"
            [showPaginator]="showPaginator"
            [pageOnFront]="false"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent.emit($event)"
            [trackBy]="trackByIdMtxGrid"
            [expandable]="expansionTemplate !== undefined"
            [expansionTemplate]="expansionTemplate"
            (expansionChange)="expansionEvent.emit($event)"
            (cellSelectionChange)="cellSelectionEvent.emit($event)"
            [showToolbar]="toolbarTemplate !== undefined"
            [toolbarTemplate]="toolbarTemplate"
            [columnHideable]="true"
            [columnMovable]="true"
            [rowHover]="true"
            [cellTemplate]="cellTemplateMappings"
            [showSummary]="summaryCellTemplateMappings !== undefined"
            [summaryTemplate]="summaryCellTemplateMappings">
  </mtx-grid>
</mat-card>
<ng-template #toolbarTemplate>
  <button mat-button class="m-l-8" color="primary" (click)="editOrCopyAdd({action:'add'})">
    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" color="primary">add
    </mat-icon>
    新增数据
  </button>
  <button mat-button class="m-l-32" color="primary" fxHide.lt-sm>
    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" color="primary">cloud_upload
    </mat-icon>
    文件上传
  </button>
  <button mat-button class="m-l-32" color="primary" fxHide.lt-sm>
    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" color="primary">cloud_download
    </mat-icon>
    下载文件上传模板
  </button>
</ng-template>
