<breadcrumb></breadcrumb>

<mat-card>
  <mat-form-field>
    List length:
    <input [(ngModel)]="length" matInput>
  </mat-form-field>

  <mat-form-field>
    Page size:
    <input [(ngModel)]="pageSize" matInput>
  </mat-form-field>
  <mat-form-field>
    Page size options:
    <input (ngModelChange)="setPageSizeOptions($event)" [ngModel]="pageSizeOptions" matInput>
  </mat-form-field>

  <mat-paginator (page)="pageEvent = $event" [length]="length" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="pageSize">
  </mat-paginator>

  <div *ngIf="pageEvent">
    <h5>Page Change Event Properties</h5>
    <div>List length: {{pageEvent.length}}</div>
    <div>Page size: {{pageEvent.pageSize}}</div>
    <div>Page index: {{pageEvent.pageIndex}}</div>
  </div>
</mat-card>
