<breadcrumb></breadcrumb>

<mat-card>
  <section>
    <h2>Choose a date (e.g. choose your date of birth)</h2>
    <mat-form-field>
      <mat-label>Date of birth</mat-label>
      <input #birthdayModel="ngModel"
             [(ngModel)]="birthday"
             [matDatepicker]="birthdayPicker"
             [max]="maxBirthday"
             matInput
             required>
      <mat-datepicker-toggle [for]="birthdayPicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #birthdayPicker startView="year"></mat-datepicker>
      <mat-error *ngIf="birthdayModel.hasError('required')">
        Please choose a date.
      </mat-error>
      <mat-error *ngIf="birthdayModel.hasError('matDatepickerMax')">
        Please choose an earlier date.
      </mat-error>
    </mat-form-field>
  </section>

  <section>
    <h2>Choose a date with touch UI (e.g. choose a payment date on mobile)</h2>
    <p>When would you like to schedule your payment?</p>
    <mat-form-field>
      <input #paymentDateModel="ngModel"
             [(ngModel)]="paymentDate"
             [matDatepicker]="paymentPicker"
             [min]="minPaymentDate"
             aria-label="Payment date"
             matInput
             required>
      <mat-datepicker-toggle [for]="paymentPicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #paymentPicker></mat-datepicker>
      <mat-error *ngIf="paymentDateModel.hasError('required')">
        Please choose a date.
      </mat-error>
      <mat-error *ngIf="paymentDateModel.hasError('matDatepickerMin')">
        Please choose a later date.
      </mat-error>
    </mat-form-field>
  </section>

  <section>
    <h2>Choose date with startAt, min and max (e.g. schedule a departing and returning flight)</h2>
    <mat-form-field>
      <mat-label>Departure date</mat-label>
      <input #departDateModel="ngModel"
             [(ngModel)]="departDate"
             [matDatepicker]="departPicker"
             [max]="maxTripDate"
             [min]="minTripDate"
             matInput
             required>
      <mat-datepicker-toggle [for]="departPicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #departPicker [startAt]="startTripDate"></mat-datepicker>
      <mat-error *ngIf="departDateModel.hasError('required')">
        Please choose a date.
      </mat-error>
      <mat-error *ngIf="departDateModel.hasError('matDatepickerMin')">
        Please choose a later date.
      </mat-error>
      <mat-error *ngIf="departDateModel.hasError('matDatepickerMax')">
        Please choose an earlier date.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Return date</mat-label>
      <input #returnDateModel="ngModel"
             [(ngModel)]="returnDate"
             [matDatepicker]="returnPicker"
             [max]="maxTripDate"
             [min]="departDate || minTripDate"
             matInput>
      <mat-datepicker-toggle [for]="returnPicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #returnPicker [startAt]="startTripDate"></mat-datepicker>
      <mat-error *ngIf="returnDateModel.hasError('matDatepickerMin') && !departDate">
        Please choose a later date.
      </mat-error>
      <mat-error *ngIf="returnDateModel.hasError('matDatepickerMin') && departDate">
        Please choose a date after your departure.
      </mat-error>
      <mat-error *ngIf="returnDateModel.hasError('matDatepickerMax')">
        Please choose an earlier date.
      </mat-error>
    </mat-form-field>
  </section>

  <section>
    <h2>Choose date with date filter (e.g. schedule a doctor's appointment)</h2>
    <mat-form-field>
      <mat-label>Appointment date</mat-label>
      <input #appointmentDateModel="ngModel"
             [(ngModel)]="appointmentDate"
             [matDatepickerFilter]="weekdaysOnly"
             [matDatepicker]="appointmentPicker"
             [max]="maxAppointmentDate"
             [min]="minAppointmentDate"
             matInput
             required>
      <mat-datepicker-toggle [for]="appointmentPicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #appointmentPicker></mat-datepicker>
      <mat-error *ngIf="appointmentDateModel.hasError('required')">
        Please choose a date.
      </mat-error>
      <mat-error *ngIf="appointmentDateModel.hasError('matDatepickerMin') ||
                             appointmentDateModel.hasError('matDatepickerMax') ||
                             appointmentDateModel.hasError('matDatepickerFilter')">
        No appointments available on this date.
      </mat-error>
    </mat-form-field>
  </section>
</mat-card>
