<page-header></page-header>

<mat-card>
  <mat-card-title>Simple</mat-card-title>

  <form (ngSubmit)="submit()" [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
    <button color="primary" mat-raised-button>Submit</button>
  </form>
</mat-card>

<mat-card>
  <mat-card-title>Advanced Layout</mat-card-title>

  <form (ngSubmit)="submit2()" [formGroup]="form2">
    <formly-form [fields]="fields2" [form]="form2" [model]="model2" [options]="options">
    </formly-form>
    <button [disabled]="!form2.valid" color="primary" mat-raised-button>Submit</button>
  </form>
</mat-card>
