<page-header></page-header>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex="100">
    <mat-card>
      <mat-card-title>Form Inline</mat-card-title>

      <form>
        <mat-form-field class="m-r-8">
          <input [(ngModel)]="q.username" matInput name="username" placeholder="Username">
        </mat-form-field>

        <mat-form-field class="m-r-8">
          <input [(ngModel)]="q.email" matInput name="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field class="m-r-8">
          <mat-label>Gender</mat-label>
          <mat-select [(ngModel)]="q.gender" name="gender">
            <mat-option>-- None --</mat-option>
            <mat-option value="1">male</mat-option>
            <mat-option value="2">female</mat-option>
          </mat-select>
        </mat-form-field>

        <button color="primary" mat-raised-button>Search</button>
      </form>

      <div>{{q|json}}</div>

    </mat-card>
  </div>
  <div class="matero-col" fxFlex="33.33" fxFlex.lt-sm="100">
    <mat-card>
      <mat-card-title>Form Horizontal</mat-card-title>

      <form [formGroup]="reactiveForm1" class="form-field-full">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput placeholder="Simple placeholder" required>
          <mat-error *ngIf="reactiveForm1.get('username').invalid">Please enter username
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Simple placeholder" required>
          <mat-error *ngIf="reactiveForm1.get('email').invalid">
            {{getErrorMessage(reactiveForm1)}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" required required>
            <mat-option>-- None --</mat-option>
            <mat-option value="1">male</mat-option>
            <mat-option value="2">female</mat-option>
          </mat-select>
          <mat-error *ngIf="reactiveForm1.get('gender').invalid">Please select gender</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input formControlName="city" matInput placeholder="Simple placeholder" required>
          <mat-error *ngIf="reactiveForm1.get('city').invalid">Please enter city</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Address</mat-label>
          <input formControlName="address" matInput placeholder="Simple placeholder" required>
          <mat-error *ngIf="reactiveForm1.get('address').invalid">Please enter address</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Company</mat-label>
          <input formControlName="company" matInput placeholder="Simple placeholder" required>
          <mat-error *ngIf="reactiveForm1.get('company').invalid">Please enter company</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mobile</mat-label>
          <input formControlName="mobile" matInput placeholder="Simple placeholder" required
                 type="number">
          <mat-icon matSuffix>smartphone</mat-icon>
          <mat-error *ngIf="reactiveForm1.get('mobile').invalid">Please enter mobile</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tele</mat-label>
          <input formControlName="tele" matInput placeholder="Simple placeholder" required
                 type="number">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="reactiveForm1.get('tele').invalid">Please enter tele</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Website</mat-label>
          <input formControlName="website" matInput placeholder="Simple placeholder" required>
          <mat-error *ngIf="reactiveForm1.get('website').invalid">Please enter website</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input [matDatepicker]="picker" formControlName="date" matInput
                 placeholder="Choose a date">
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="reactiveForm1.get('date').invalid">Please enter website</mat-error>
        </mat-form-field>

        <button class="m-t-8" color="primary" mat-raised-button>Save</button>
      </form>

      <div class="m-t-16">{{reactiveForm1.value|json}}</div>

    </mat-card>
  </div>

  <div class="matero-col" fxFlex="66.67" fxFlex.lt-sm="100">
    <mat-card>
      <mat-card-title>Form Horizontal</mat-card-title>

      <form [formGroup]="reactiveForm2" class="form-field-full">
        <div fxLayout="row wrap" fxLayoutGap="8px grid">

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input formControlName="username" matInput placeholder="Simple placeholder"
                     required>
              <mat-error *ngIf="reactiveForm2.get('username').invalid">Please enter username
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Simple placeholder" required>
              <mat-error *ngIf="reactiveForm2.get('email').invalid">
                {{getErrorMessage(reactiveForm2)}}</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender" required required>
                <mat-option>-- None --</mat-option>
                <mat-option value="1">male</mat-option>
                <mat-option value="2">female</mat-option>
              </mat-select>
              <mat-error *ngIf="reactiveForm2.get('gender').invalid">Please select gender
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>City</mat-label>
              <input formControlName="city" matInput placeholder="Simple placeholder" required>
              <mat-error *ngIf="reactiveForm2.get('city').invalid">Please enter city</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input formControlName="address" matInput placeholder="Simple placeholder" required>
              <mat-error *ngIf="reactiveForm2.get('address').invalid">Please enter address
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Company</mat-label>
              <input formControlName="company" matInput placeholder="Simple placeholder" required>
              <mat-error *ngIf="reactiveForm2.get('company').invalid">Please enter company
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Mobile</mat-label>
              <input formControlName="mobile" matInput placeholder="Simple placeholder"
                     required type="number">
              <mat-icon matSuffix>smartphone</mat-icon>
              <mat-error *ngIf="reactiveForm2.get('mobile').invalid">Please enter mobile
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Tele</mat-label>
              <input formControlName="tele" matInput placeholder="Simple placeholder"
                     required type="number">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="reactiveForm2.get('tele').invalid">Please enter tele</mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <mat-label>Website</mat-label>
              <input formControlName="website" matInput placeholder="Simple placeholder" required>
              <mat-error *ngIf="reactiveForm2.get('website').invalid">Please enter website
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field>
              <input [matDatepicker]="picker2" formControlName="date" matInput
                     placeholder="Choose a date">
              <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="reactiveForm2.get('date').invalid">Please enter website
              </mat-error>
            </mat-form-field>
          </div>

        </div>

        <button class="m-t-8" color="primary" mat-raised-button>Save</button>

      </form>

      <div class="m-t-16">{{reactiveForm2.value|json}}</div>

    </mat-card>
  </div>

</div>
