<breadcrumb></breadcrumb>

<mat-card>
  <div class="demo-button">
    <section>
      <h2>Button elements</h2>
      <p>Click on the buttons to increase the button counter.</p>
      <p>Current number of clicks: {{counter}}</p>
      <button (click)="increase()" mat-button>Check</button>
      <button (click)="increase()" mat-raised-button>Pitch</button>
      <button (click)="increase()" aria-label="Activate floating action style button to increase the button counter"
              mat-fab>
        <mat-icon>plus_one</mat-icon>
      </button>
      <button (click)="increase()" aria-label="Mini floating action button to increase the button counter by 1"
              mat-mini-fab>
        <mat-icon>plus_one</mat-icon>
      </button>
      <button (click)="increase()" aria-label="Icon button to increase the button counter by 1"
              mat-icon-button>
        <mat-icon>plus_one</mat-icon>
      </button>
    </section>

    <section>
      <h2>Anchor elements</h2>
      <a color="primary" href="http://www.google.com" mat-button>Google search</a>
      <a href="https://www.youtube.com/" mat-raised-button>YouTube</a>
      <a aria-label="Activate floating action style google search link" href="http://www.google.com"
         mat-fab>
        <mat-icon>search</mat-icon>
      </a>
      <a aria-label="Activate mini floating action style google search link" href="http://www.google.com"
         mat-mini-fab>
        <mat-icon>search</mat-icon>
      </a>
      <a aria-label="Activate icon style google search link" href="http://www.google.com"
         mat-icon-button>
        <mat-icon>search</mat-icon>
      </a>
    </section>

    <section>
      <h2>Buttons in different colors</h2>
      <button (click)="openSnackBar('Color is primary.')" color="primary"
              mat-button>Primary
      </button>
      <button (click)="openSnackBar('Color is accent.')" color="accent" mat-button>Accent</button>
      <button (click)="openSnackBar('Color is warn.')" color="warn" mat-button>Warn</button>
    </section>

    <section>
      <h2>Disabled button</h2>
      <p>The following "cancel" button is disabled</p>
      <button [disabled]="true" mat-button>Cancel</button>
    </section>
  </div>
</mat-card>
