<div class="m-t-24 m-b-16">
  <ngx-file-drop #fileDrop multiple="true" (onFileDrop)="dropped($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <button mat-raised-button color="primary" (click)="fileDrop.openFileSelector()">
        <span class="m-r-8">Choose Files</span>
        <mat-icon class="icon-24">create_new_folder</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="m-l-32" (click)="upload()">
        <span class="m-r-8">Upload</span>
        <mat-icon class="icon-24">cloud_upload</mat-icon>
      </button>
    </ng-template>
  </ngx-file-drop>

  <mtx-grid
    class="mat-elevation-z1 m-t-16 mtx-grid-custom"
    *ngIf="filesDatas.length > 0"
    [data]="filesDatas"
    [columns]="columns"
    [loading]="false"
    [showPaginator]="false"
  >
  </mtx-grid>
</div>
