<breadcrumb></breadcrumb>

<mat-card>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding>
      <button disabled mat-icon-button></button>
      {{node.item}}
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button [attr.aria-label]="'toggle ' + node.filename" mat-icon-button matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.item}}
      <mat-progress-bar *ngIf="node.isLoading" class="example-tree-progress-bar"
                        mode="indeterminate"></mat-progress-bar>
    </mat-tree-node>
  </mat-tree>
</mat-card>
