<mat-card>
  <mat-card-title>Edit Profile</mat-card-title>
  <mat-card-content>
    <form [formGroup]="reactiveForm" class="form-field-full">
      <div fxLayout="row wrap" fxLayoutGap="8px grid">

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="Simple placeholder" required>
            <mat-error *ngIf="reactiveForm.get('username').invalid">Please enter username
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Simple placeholder" required>
            <mat-error *ngIf="reactiveForm.get('email').invalid">
              {{getErrorMessage(reactiveForm)}}</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option>-- None --</mat-option>
              <mat-option value="1">male</mat-option>
              <mat-option value="2">female</mat-option>
            </mat-select>
            <mat-error *ngIf="reactiveForm.get('gender').invalid">Please select gender</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input formControlName="city" matInput placeholder="Simple placeholder" required>
            <mat-error *ngIf="reactiveForm.get('city').invalid">Please enter city</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput placeholder="Simple placeholder" required>
            <mat-error *ngIf="reactiveForm.get('address').invalid">Please enter address</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Company</mat-label>
            <input formControlName="company" matInput placeholder="Simple placeholder" required>
            <mat-error *ngIf="reactiveForm.get('company').invalid">Please enter company</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Mobile</mat-label>
            <input formControlName="mobile" matInput placeholder="Simple placeholder" required
                   type="number">
            <mat-icon matSuffix>smartphone</mat-icon>
            <mat-error *ngIf="reactiveForm.get('mobile').invalid">Please enter mobile</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Tele</mat-label>
            <input formControlName="tele" matInput placeholder="Simple placeholder" required
                   type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="reactiveForm.get('tele').invalid">Please enter tele</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <mat-label>Website</mat-label>
            <input formControlName="website" matInput placeholder="Simple placeholder" required>
            <mat-error *ngIf="reactiveForm.get('website').invalid">Please enter website</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field>
            <input [matDatepicker]="picker2" formControlName="date" matInput
                   placeholder="Choose a date">
            <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="reactiveForm.get('date').invalid">Please enter website</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="end center">
        <button class="m-t-8" color="primary" mat-raised-button>Save</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
